/******************************
* Часто повторяющиеся элементы
* Главная страница (/)
******************************/
@import "fragment/_variables";
@import "fragment/_mixins";
/******************************
* Часто повторяющиеся элементы
******************************/

/******************************
* Главная страница (/)
******************************/
.блок{
  background: red;
}
.page-home {
  &.promo{
    >.container{
      background: url(../img/girl.png) no-repeat 100% 50%/contain;
      padding: 100px 0;
    }
    .info{
      h1{
        font:3.1111rem $rg-font-style-bold;
        text-transform: uppercase;
      }
      .subtitle{
        font: 1.3333rem $rg-font-style-semi-bold;

      }
    }
  }
}

/******************************
* Портфолио (/portfolio/)
******************************/
.page-portfolio{
  &.section_1{
    
  }
}