/******************************
* Часто повторяющиеся элементы
* Главная страница (/)
******************************/
@import "fragment/_variables";
@import "fragment/_mixins";
/******************************
* Часто повторяющиеся элементы
******************************/

/******************************
* Главная страница (/)
******************************/

.page-home {
  &.promo{
    &__info-title {
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 600;
      font-size: 36px;
      text-transform: uppercase;
    }
  }
}

/******************************
* Портфолио (/portfolio/)
******************************/
.page-portfolio{
  &.section_1{
    
  }
}