@import 'fragment/_variables';
@media all and (max-width: 1399.98px) {
	/* Контент */

	.header {
		.page__center {
			.collapse {
				.nav-item:not(:last-child) {
					margin-right: 20px;
				}
			}
		}
	}

	.page-home {
		&.promo {
			> .container {
				img {
					right: -90px;
				}
			}
			.preview {
				h1 {
					font-size: 2.6rem;
				}
			}
			.info {
				.list {
					margin-bottom: 30px;
					.item {
						font: 1.1rem $rg-font-style-regular;
						&::before {
							width: 58px;
							height: 58px;
							top: -14px;
							left: -10px;
						}
					}
				}
			}
		}
		&.team {
			.info {
				.text {
					margin-bottom: 40px;
				}
			}
		}
	}
}
@media all and (max-width: 1199.98px) {
	.page-home {
		&.promo {
			> .container {
				img {
					height: 540px;
					width: 550px;
					top: -100px;
				}
			}
			.preview {
				h1 {
					font-size: 2.2rem;
				}
				.subtitle {
					font-size: inherit;
				}
			}
		}
	}
}
@media all and (max-width: 991.98px) {
	.h2,
	h2 {
		padding-bottom: 1em;
	}
	.title-desc {
		.desc {
			br {
				display: none;
			}
		}
	}
	.btn.link .arrow {
		margin-left: 10px;
		width: 15px;
	}
	.items_top-line {
		max-width: 540px;
	}
	/* Контент */

	.header {
		margin-bottom: 50px;
	}

	.page-home {
		&.promo {
			padding-top: 56px;
			> .container {
				img {
					height: 490px;
					width: 500px;
					top: -50px;
				}
			}
			.preview {
				h1 {
					font-size: 1.6rem;
				}
				.subtitle {
					font-size: inherit;
				}
				.items {
					margin-top: 65px;
				}
			}
			.info {
				.list {
					.item {
						&:last-child {
							&::before {
								top: 35px;
							}
						}
					}
				}
			}
		}
		&.team {
			.info {
				.prof {
					margin-bottom: 40px;
					.link {
						margin-bottom: 15px;
						font-size: 1.2rem;
					}
				}
			}
		}
	}
	#demo {
		.item {
			max-width: 355px;
			&.img {
				max-width: 325px;
				.btn {
					font-size: 0.8rem;
				}
			}
		}
	}
}
@media all and (max-width: 767.98px) {
	html body,
	.btn {
		font-size: 16px;
	}
	h1,
	.h1 {
		font-size: 2.5em;
	}
	.h2,
	h2 {
		font-size: 2em;
	}
	h5,
	.h5 {
		font-size: 1.5em;
	}
	.btn {
		padding: 0.5rem 1em;
		&.big {
			font-size: 1em;
		}
	}
	.title-desc {
		.desc {
			margin: 0 auto 2em;
		}
	}
	#top-menu .top-line .items_top-line > .item.address_user {
		max-width: 255px;
	}
	/* Контент */
	.page-home {
		&.promo {
			padding-top: 10px;
			> .container {
				position: relative;
				img {
					height: 300px;
					width: 310px;
					top: -30px;
					left: 310px;
				}
			}
			.preview {
				h1 {
					font-size: 1.6rem;
				}
				.item {
				}
			}
			.info {
				.list {
					margin-top: 85px;
					.item {
						font-size: 0.9rem;
						a {
							&::before {
								width: 45px;
								height: 45px;
								top: -10px;
								left: -9px;
								line-height: 32px;
								text-indent: 32px;
							}
						}
					}
				}
			}
		}
	}
	#demo {
		.item {
			max-width: 284px;
			&.img {
				max-width: 220px;
				.btn {
					top: 64%;
					left: -3%;
				}
			}
		}
	}
}
@media all and (max-width: 575.98px) {
	#top-menu .top-line .items_top-line > .item {
		max-width: 210px;
	}
	//Контент

	.header {
		margin-bottom: 40px;
		.page__end {
			&-link {
				font-size: 18px;
			}
		}
	}

	.page-home {
		&.promo {
			> .container {
				img {
					height: 280px;
					width: 290px;
					top: 195px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			.preview {
				.h1 {
					font-size: 1.4rem;
				}
				.subtitle {
					margin-bottom: 360px;
				}
				.items {
					text-align: center;
					margin-bottom: 50px;
				}
			}
			.info {
				.list {
					margin-top: 30px;
					.item {
						text-align: center;
						margin-bottom: 60px;
						&:first-child {
							&::before {
								left: 52px;
							}
						}
						&:nth-child(2) {
							&::before {
								left: 46px;
							}
						}
						&:last-child {
							padding: 0;
							margin: 0;
							&::before {
								left: 35px;
								top: -15px;
							}
						}
					}
				}
			}
		}
		&.mackets {
			.wrapper {
				.category {
					.link {
						font-size: 1.2rem;
					}
				}
			}
		}
		&.application {
			.application-subtitle {
				font-size: 1.5rem;
			}
		}
	}
	#tariffs .tariffs-container .item p.price {
		position: relative;
		top: 0;
		right: 0;
		max-width: 240px;
		max-width: max-content;
	}
}
